body {
    font-family: Arial, sans-serif;
    background-color: beige;
    }

ul {
    list-style: inside; 
    

}

ul li {
    margin-bottom: 5px; 
    margin-left: 15px; 
    color: #0b9228; 
}

ol li {
    margin-bottom: 5px; 
    color: #ee0a0a; 
    list-style: square; 
}

ul ul li,
ol ol li {
    margin-bottom: 5px; 
    margin-left: 15px; 
}

ul ul ul li,
ol ol ol li {
    margin-bottom: 5px; 
    margin-left: 15px; 
}
